In [1]:
# import pandas
import pandas as pd

In [2]:
# read csv data
data = pd.read_csv('C:/Users/akshay/code/data/IMDB_Movie.csv')

In [3]:
data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

# Overview

Basically, dataframe selecting is action of select a subset of data inside full data. This action of selection could be:
* select a column
* select multiple columns
* select some rows
* select some rows inside some columns

Image show up each area of selection

# . operator

```df.column_name```

Each column name could be consider as a dataframe attribute, so each column could be accessed with . operator like a object class access it's attribute

In [4]:
# select director_name column with . operator
data.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
5038          Scott Smith
5039                  NaN
5040     Benjamin Roberds
5041          Daniel Hsia
5042             Jon Gunn
Name: director_name, Length: 5043, dtype: object

# ```[]``` operator
```df[column selector]```
column selector could be;
    * a column
    * list of column use []
    * list of column use :

In [6]:
# select 'director_name', 'movie_title' with [] operator
data[['director_name', 'movie_title']]

          director_name                                        movie_title
0         James Cameron                                          Avatar \t
1        Gore Verbinski          Pirates of the Caribbean: At World's End
2            Sam Mendes                                           Spectre
3     Christopher Nolan                             The Dark Knight Rises
4           Doug Walker  Star Wars: Episode VII - The Force Awakens    ...
...                 ...                                                ...
5038        Scott Smith                           Signed Sealed Delivered
5039                NaN                         The Following
5040   Benjamin Roberds                              A Plague So Pleasant
5041        Daniel Hsia                                  Shanghai Calling
5042           Jon Gunn                                 My Date with Drew

[5043 rows x 2 columns]

# loc operator
```df.loc[[select row with row index],[select column with column index]]```
when print out a dataframe
* the top most row contain dataframe index for columns
* the left most column contain dataframe index for rows
* selector for row, column could be
    * one index
    * list of index ```[]```
    * use slicing ```:```

In [32]:
# select row with lable 0 and column label is 'director_name'
data.director_name.loc[0]

'James Cameron'

In [31]:
# select first 3 rows on 2 columns 'movie_title' and 'director_name'
data[['movie_title', 'director_name']].loc[0:2]

                                 movie_title   director_name
0                                  Avatar \t   James Cameron
1  Pirates of the Caribbean: At World's End   Gore Verbinski
2                                   Spectre       Sam Mendes

# iloc operator

```df.iloc[[select columns with their position], [select rows with their position]]```

* imagine each row is assign a number, first row is assigned to 0 and final row is assigned to (total number of rows - 1)
* imagine each column is assign a number, first column is assign to 0 and final column is assigned to (total number of columns - 1)
* selector could be:
    * a number
    * a list of number
    * slicing with : operator

In [22]:
# select third row on second column
data.iloc[2,1]

'Sam Mendes'

In [25]:
# select first and third rows 

# on first and second columns use slicing

data.iloc[[0,2],[0,1]]

   color  director_name
0  Color  James Cameron
2  Color     Sam Mendes